body {
    font-family: "Poppins", serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

body.dark-mode .container {
    background-color: #444;
    color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.dark-mode-toggle i {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

body.dark-mode .dark-mode-toggle i {
    color: #f4f4f4;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group input[type="text"],
.input-group select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .input-group input[type="text"],
body.dark-mode .input-group select {
    background-color: #555;
    color: #f4f4f4;
    border: 1px solid #666;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: #0056b3;
}

body.dark-mode .input-group button {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode li {
    background-color: #555;
    color: #f4f4f4;
}

li span {
    flex: 1;
}

li button {
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #c82333;
}

body.dark-mode li button {
    background-color: #c82333;
}